.Washer {
	width: 7.8rem;
	height: 10rem;
	margin: 5% 2%;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 0 2px 3px #ccc;
	display: inline-block;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding-top: 2rem;
	
}

.Number {
	font-size: 20px;
	
}



.empty1 {
	background: url('../../../assets/Phases/d1.jpg');
	background-size: 100%;
	background-position: center;
}

.running1 {
	background: url('../../../assets/Phases/d2.jpg');
	background-size: contain;
	background-position: center;
}

.done1 {
	background: url('../../../assets/Phases/d3.jpg');
	background-size: contain;
	background-position: center;
}

.ooo1 {
	background: url('../../../assets/Phases/d4.jpg');
	background-size: contain;
	background-position: center;
}


.empty2 {
	background: url('../../../assets/Phases/w1.jpg');
	background-size: 100%;
	background-position: center;
}

.running2 {
	background: url('../../../assets/Phases/w2.jpg');
	background-size: contain;
	background-position: center;
}

.done2 {
	background: url('../../../assets/Phases/w3.jpg');
	background-size: contain;
	background-position: center;
}

.ooo2 {
	background: url('../../../assets/Phases/w4.jpg');
	background-size: contain;
	background-position: center;
}

